<div class="container">
  <div class="row" style="margin-top: 90px;">
    <div class="col-md-6">
      <form method="POST" action="/user/register">
        <div class="form-group">
          <label for="displayName">Display name</label>
          <input type="text" class="form-control" name="displayName" id="displayName" placeholder="display name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="email address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="password">
        </div>

        <button type="submit" class="btn btn-primary float-right">Register</button>
      </form>
    </div>
  </div>
</div>