<div class="container">
  <div class="row" style="margin-top: 150px;">
    <div class="col-md-6">
      <h2><strong>Title: </strong>{{article.title}}</h2>
      <h3><strong>Author: </strong>{{article.author}}</h3> 
      <p><strong>Body: </strong>{{article.body}}</p>
      <h6><strong>Id: </strong>{{article._id}}</h6>
    </div>
  </div>
</div>